hello_mule/src/main/app/set-payload.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.7.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="set-payloadFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/hello-world" doc:name="HTTP"/>
        <set-payload value="#['Hello World From Mule'.toUpperCase()]" doc:name="Set Payload"/>
    </flow>
    <flow name="http_logger_payload">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/get-message" doc:name="HTTP"/>
        <logger message="#[message.inboundProperties.'http.query.params'.message]" level="INFO" doc:name="Logger"/>
        <set-payload value="#[message.inboundProperties.'http.query.params'.message]" doc:name="Set Payload"/>
    </flow>
    <flow name="hello_muleFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/query-string" doc:name="HTTP"/>
        <set-payload value="#[message.inboundProperties.'http.query.string']" doc:name="Set Payload"/>
    </flow>
    <flow name="hello_muleFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/request-uri" doc:name="HTTP"/>
        <set-payload value="#[message.inboundProperties.'http.request.uri']" doc:name="Set Payload"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="hello_muleFlow2">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/request-path" doc:name="HTTP"/>
        <set-payload value="#[message.inboundProperties.'http.request.path']" doc:name="Set Payload"/>
        <logger message="#[message.inboundProperties.'http.request.uri']" level="INFO" doc:name="Logger"/>
        <logger message="#[message.inboundProperties.'http.query.params']" level="INFO" doc:name="Logger"/>
    </flow>
</mule>

<!-- http://localhost:8081/get-message?message=hello world from mule
	 http://localhost:8081/query-string?message=hello mule
	 http://localhost:8081/request-uri?message=hello mule
	 http://localhost:8081/request-path?message=hello mule -->